nav {
    display: flex;
    width: 1390px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

nav button {
    padding: 15px 30px 15px 30px;
    color: #006a50;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid #006a50;
    cursor: pointer;
    border-radius: 8px;
    transition: .1s ease-in;
}

nav button:hover {
    background-color: #006a50;
    color: #fff;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 80px 100px;
    height: 600px;
}

.banner-subtitle {
    color: #0e0e0e80;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.banner-title {
    color: #0e0e0e;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 16px 0 24px 0;
}