@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(245, 245, 245);
}

.primary-middle {
    max-width: 1200px;
    margin: 0 auto;
}

.secondary-middle {
    max-width: 1400px;
    margin: 130px auto;
}



.primary-bg {
    background-color: #C6E4D6;
}

.primary-btn {
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background: #006a50;
    padding: 17px 34px;
    cursor: pointer;
    border: none;
    transition: .1s ease-in;
}

.primary-btn:hover{
    background-color: #006a50c2;
}

.title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.description {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0 32px 0;
}